@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root [data-theme='gold-nouveau'] {
    --color-primary-50: 219 226 232;
    --color-primary-100: 207 216 225;
    --color-primary-200: 195 206 217;
    --color-primary-300: 158 177 195;
    --color-primary-400: 86 118 149;
    --color-primary-500: 13 59 104;
    --color-primary-600: 12 53 94;
    --color-primary-700: 10 44 78;
    --color-primary-800: 8 35 62;
    --color-primary-900: 6 29 51;
}
